.main-content {
  flex: 1;
  padding: 2rem;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.favorites-link {
  background-color: orange;
  color: black
}
.favorites-link:hover {
  background-color: orange !important;
  color: black;
  opacity: 70%;
}